html {
  padding: 10px;
}

html, body {
  color: black;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  background-color: #36465D;
  color: #4F545A;
}

h1 {
  color: #4F545A;
}

h2 {
  margin:0;
}

p {
  margin: 0;
}

a {
  color: #4F545A;
  text-decoration: none;
}

div {
  color: #4F545A;
}

#content, #title {
  background: #FFF;
  color: #4F545A;
  display: block;
  margin: 0px;
  outline-color: #444;
  outline-style: none;
  outline-width: 0px;
  padding: 10px 30px 5px 30px;
  border-radius: 3px;
}

#title {
  padding-left: 10px;
}

#listBlack,#listWhite {
  float: left;
  width: 240px;
  margin-bottom: 25px;
}

#listBlack p,#listWhite p {
  width: 240px;
}

#spacer {
  width: 540px;
  clear: left;
}

.disclaimer {
  color: #A8B1BA;
  font: 11px 'Lucida Grande',Verdana,sans-serif;
  font-style: italic;
}

#version_div {
  color: #A8B1BA;
  font: 11px 'Lucida Grande',Verdana,sans-serif;
  text-align: right;
}

#browser_span {
  color: #A8B1BA;
  font: 11px 'Lucida Grande',Verdana,sans-serif;
  vertical-align: top;
}

#backgroundDiv {
  display: none;
  position: absolute;
}

#tabs {
  list-style-type: none;
  display: flex;
  -webkit-font-smoothing: antialiased;
  margin: 18px 10px 0px 10px;
  padding: 0;
  overflow: hidden;
}

#tabs li {
  border: 1px solid rgba(0, 0, 0, .11);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
  padding: 0;
  flex: 1;
  white-space: nowrap;
}

#tabs li:hover, #tabs li.selected {
  background-color: hsla(0, 0%, 100%, .07);
}

#tabs li a {
  color: rgba(255, 255, 255, .69);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-repeat: no-repeat;
  padding: 8px 10px 8px 10px;
  display: block;
}

#aboutDiv a {
  text-decoration: underline;
}

#inandout {
  width: 564px;
  height: 240px;
  resize: vertical;
}

.ignore_label {
  padding-right: 1em;
}
